<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Správa pojištění</title>
        <link rel="stylesheet" href="styl.css" type="text/css" />
        <meta name="description" content="Aplikace pro správu pojištění." />
        <meta name="keywords" content="pojištění, správa" />
        <meta name="author" content="Tomáš Ulman" />
    </head>
    <body>
        <header>
            <div id="logo"  class="aktivni">
                <a href="index">
                    <h1>Správa pojištění<small> App</small></h1>
                </a>
            </div>
            <nav>
                <ul>
                    <li><a href="pojistenci">Pojištěnci</a></li>
                    <li><a href="pojisteni">Pojištění</a></li>
                    <li><a href="udalosti">Události</a></li>
                    <li><a href="oaplikaci">O aplikaci...</a></li>
                    <li><a href="prihlasit">Přihlásit</a></li>
                    <li><a href="registrovat">Registrovat</a></li>
                </ul>
            </nav>
        </header>
        <footer>
            Vytvořil &copy;Tomáš Ulman pro <a href="https://itnetwork.cz">itnetwork.cz</a>
        </footer>
    </body>
</html>