<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registrace</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(function() {
            $('.ulozit').click(function(event) {
            var heslo = $('#heslo').val();
            var hesloZnovu = $('#hesloZnovu').val();

            if (heslo !== hesloZnovu) {
            event.preventDefault();
            alert('Hesla se neshodují.');
            }
            });
            });
        </script>
        <link rel="stylesheet" href="styl.css" type="text/css" />
        <meta name="description" content="Aplikace pro správu pojištění." />
        <meta name="keywords" content="pojištění, správa" />
        <meta name="author" content="Tomáš Ulman" />
    </head>

    <body>
        <header>
            <div id="logo">
                <a href="index">
                    <h1>Správa pojištění<small> App</small></h1>
                </a>
            </div>
            <nav>
                <ul>
                    <li><a href="pojistenci">Pojištěnci</a></li>
                    <li><a href="pojisten i">Pojištění</a></li>
                    <li><a href="udalosti">Události</a></li>
                    <li><a href="oaplikaci">O aplikaci...</a></li>
                    <li><a href="prihlasit">Přihlásit</a></li>
                    <li class="aktivni"><a href="registrovat">Registrovat</a></li>
                </ul>
            </nav>
        </header>
        <h2>Registrace</h2>
        <section>
            <form action="/registrovat" method="post">
                <label><span>Uživatelské jméno:</span>
                    <input type="text" id="jmeno" name="jmeno" th:field="${uzivatelDTO.jmeno}" required/>
                    <label /><br />
                    <label><span>Heslo:</span>
                        <input type="password" id="heslo" name="heslo" th:field="${uzivatelDTO.heslo}" required/>
                        <label /><br />
                        <label><span>Heslo znovu:</span>
                            <input type="password" id="hesloZnovu" name="hesloZnovu" th:field="${uzivatelDTO.hesloZnovu}" required/>
                            <label /><br />
                            <input class="ulozit" type="submit" value="Zaregistrovat" />
                            </form>
                            </section>
                            <footer>
                                Vytvořil &copy;Tomáš Ulman pro <a href="https://itnetwork.cz">itnetwork.cz</a>
                            </footer>
                            </body>

                            </html>